pkgbase = ratodo
	pkgdesc = A todo TUI, built with ratatui — one Markdown file, no cloud, no account
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/murat-akpinar/ratodo
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = ratodo-0.3.0.tar.gz::https://github.com/murat-akpinar/ratodo/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 5ab994226e5c0db5bf7efe4f2525fae6dd408628af09706ee610aeffcf48afb9

pkgname = ratodo
