pkgbase = ratodo
	pkgdesc = A todo TUI, built with ratatui — one Markdown file, no cloud, no account
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/murat-akpinar/ratodo
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = ratodo-0.6.0.tar.gz::https://github.com/murat-akpinar/ratodo/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = 3b36dca7de3974bc75e176e10ffc99c2c3449d55ad26e3fb4fd320eb85412dea

pkgname = ratodo
